wandb
buffer_example/finetuned-model
qd_uniem/wandb
qd_uniem/nohup.out
__pycache__
*/.ipynb_checkpoints/*
FastChat-old
FastChat
finetune/pipline_train_llama/data/
finetune/pipline_train_llama/pretrain_weights
*.log
art/embedding-path
art/data
art/cache/
art/checkpoints
pretrain_weights
lock/
art/test*
arg/log
art/megatron/mpu-back/
art/uniem
art/finetuned-model-riddle/
art/debug.pt
art/download_file/
.ipynb_checkpoints
.vscode
.vscode-upload.json
art/embedding_search.py.bk
art/knowledge_embedding
art/log/
checkpoints
data
finetune/pipline_train_llama/new.py
finetune/pipline_train_llama/old.py
mltool
*/log
